@use "sass:color";

$color_btn: #485c11;
$color_btn-light: #8e9c78;
$color-background: #ffffff;

$color_text: #000;
$color_text_white: #fff;
$color_text-link: #e9e9e9;

$color_benefits_text: #6f6f6f;

$color-background2: #8e9c78;
